<template>
	<modal @close="$emit('close')">
		<slot></slot>

		<div class="self-clear">
			<div class="pull-right">
				<button @click="$emit('close')" class="btn-primary">Nee</button>
				<button @click="$emit('confirm')" class="btn-primary">Ja</button>
			</div>
		</div>
	</modal>
</template>