<style scoped lang="sass">
	label
		color: #7d7d7d
		margin-bottom: 0

	input
		@media(min-width: 768px)
			float: left
			margin: 4px 5px 0
</style>

<template>
	<div class="col-md-12 np margin-top">
		<label :for="label"> <slot></slot> {{ label }}</label>
	</div>
</template>

<script>
	export default {
		props: ['model', 'label']
	}
</script>