<style scoped lang="sass">
	label
		color: #7d7d7d
		margin-bottom: 0
</style>

<template>
	<div class="margin-top">
		<label> {{ label }} </label>
		<slot></slot>
	</div>
</template>

<script>
	export default {
		props: ['label']
	}
</script>