<style scoped lang="sass">
    .modal-overlay
        position: fixed
        height: 100%
        width: 100%
        top: 0
        left: 0
        background: rgba(0,0,0,0.2)
        z-index: 110

    .modal-content
        display: block
        margin: auto
        top: 10vh
        width: 500px
        background: white
        padding: 20px
        max-height: 700px
        overflow-y: scroll

        @media(max-width: 768px)
            width: calc(100% - 20px) !important
            margin: 10px

    .modal-close
        position: absolute
        padding: 10px
        right: 10px
        top: 0

    .fa-times
        color: #db4646

    .show-overflow
        overflow-y: visible !important
</style>

<template>
	<div class="modal-overlay">
		<div :style="'width:'+width" class="modal-content modal-form" :class="{'show-overflow': showOverflow}">
				<a href="#" @click.prevent="close()">
					<div class="modal-close">
						<i class="fa fa-times"></i>
					</div>
				</a>
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
		    width: String,
            showOverflow: Boolean,
        },
		methods: {
			close() {
				this.$emit('close');
			}
		}
	}
</script>
