<style scoped lang="sass">
	.nav-item
		color: #474747
		padding: 10px 0

	.nav-item:hover
		background: #ffbfbf
		cursor: pointer
		border: none

	a:hover
		text-decoration: none
	
	.nav-icon
		display: inline-block
		text-align: center
		width: 30%

	.nav-link
		display: inline-block
		padding: 0 0 0 10px

	.current-link
		color: #ba2323 !important
		font-weight: bold
</style>

<template>
	<a :href="link">
		<div class="nav-item" :class="{'current-link': '/'+url == link}">
			<div class="nav-icon">
				<i :class="icon"></i>
			</div>
			<div class="nav-link">
				<slot></slot>
			</div>
		</div>
	</a>	
</template>

<script>
	export default {
		props: ['icon', 'link'],
		data() {
			return {
				url:  window.location.pathname.split('/')[1]
			}
		},
	}
</script>