<template>
    <ul class="pagination" role="navigation" v-if="pages > 1">
        <li class="page-item">
            <button aria-label="Previous" class="page-link page-link--prev" @click="previousPage"
                    :disabled="isPreviousButtonDisabled">
                <
            </button>
        </li>

        <template v-for="(page, index) in paginationTriggers">
            <li v-if="(page - paginationTriggers[index - 1]) > 1" class="page-item">
                <button type="button" class="page-link">...</button>
            </li>

            <li v-if="page <= pages && (page === 1 ? true : page > paginationTriggers[index - 1])" class="page-item"
                :class="{'active': page === current}" >
                <button type="button" class="page-link" :disabled="page === current" @click="setCurrentPage(page)">{{ page }}</button>
            </li>
        </template>

        <li class="page-item">
            <button type="button" aria-label="Next" class="page-link page-link--next" @click="nextPage"
                    :disabled="isNextButtonDisabled">
                >
            </button>
        </li>
    </ul>
</template>

<script>
export default {
    props: {
        current: {
            type: Number,
            required: true,
        },

        pages: {
            type: Number,
            required: true,
        },

        visiblePages: {
            type: Number,
            default: 5,
        },

        bootstrap: {
            default: 3,
        }
    },

    computed: {
        isPreviousButtonDisabled() {
            return this.current === 1;
        },

        isNextButtonDisabled() {
            return this.current === this.pages;
        },

        paginationTriggers() {
            const currentPage = this.current;
            const pageCount = this.pages;
            const visiblePagesCount = this.visiblePages;
            const visiblePagesThreshold = (visiblePagesCount - 1) / 2;
            const paginationTriggersArray = Array(this.visiblePages - 1).fill(0);

            if (currentPage <= visiblePagesThreshold + 1) {
                paginationTriggersArray[0] = 1;
                const paginatationTriggers = paginationTriggersArray.map(
                    (paginationTrigger, index) => {
                        return paginationTriggersArray[0] + index;
                    }
                );

                paginatationTriggers.push(pageCount);

                return paginatationTriggers;
            }

            if (currentPage >= pageCount - visiblePagesThreshold + 1) {
                const paginatationTriggers = paginationTriggersArray.map(
                    (paginationTrigger, index) => {
                        return pageCount - index;
                    }
                );

                paginatationTriggers.reverse().unshift(1);

                return paginatationTriggers;
            }

            paginationTriggersArray[0] = currentPage - visiblePagesThreshold + 1;
            const paginatationTriggers = paginationTriggersArray.map(
                (paginationTrigger, index) => {
                    return paginationTriggersArray[0] + index;
                }
            );

            paginatationTriggers.unshift(1);
            paginatationTriggers[paginatationTriggers.length - 1] = pageCount;

            return paginatationTriggers;
        },
    },

    methods: {
        nextPage() {
            this.$emit('next');
        },

        setCurrentPage(page) {
            this.$emit('change', page);
        },

        previousPage() {
            this.$emit('previous');
        }
    },
}
</script>
