<template>
	<modal @close="$emit('close')">
		<h3 v-if="fields.id">Categorie bewerken</h3>
		<h3 v-else>Categorie aanmaken</h3>

		<form-item label="Naam">
			<input type="text" class="form-control" v-model="fields.name">
		</form-item>

		<button @click="save('categories', fields)" 
				class="btn-primary btn-block margin-top"
				:disabled="!validated()">
			Opslaan
		</button>
	</modal>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			if(this.data) {
				let data = JSON.stringify(this.data);
				this.fields = JSON.parse(data);
			}
		},
		data() {
			return {
				fields: {}
			}
		},
		methods: {
			validated() {
				let output = true;
				
				if(!this.fields.name) {
					output = false;
				}

				return output;
			}			
		}
	}
</script>