<template>
	<div>
		<h1>Categorieën</h1>
		<table class="table">
			<thead>
				<th class="table-icon-cell">
					<button class="btn btn-icon" @click="form = {}">
						<i class="fas fa-plus"></i>
					</button>
				</th>
				<th>Naam</th>
				<th class="table-icon-cell"></th>
			</thead>
			<tbody>
				<tr v-if="cat.id != 0" v-for="cat in categories">
					<td>
						<button @click="form = cat" class="btn-table">
							<i class="fas fa-pencil-alt"></i>
						</button>
					</td>
					<td> {{ cat.name }} </td>
					<td>
						<button class="btn-table" @click="confirmDelete = cat.id">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<category-form v-if="form" 
					   :data="form" 
					   @close="form = null" 
					   @saved="handleSaved($event)"
					   @error="handleError($event)">			   	
		</category-form>

		<confirm v-if="confirmDelete"
				 @close="confirmDelete = null"
				 @confirm="destroy('categories', confirmDelete)">
			<h3>Categorie {{ confirmDelete.name }} verwijderen?</h3>
		</confirm>
	</div>
</template>

<script>
	export default {
		mounted() {
			this.loadData();
		},
		data() { 
			return {
				categories: [],
				form: null,
				confirmDelete: false,
			}
		},
		methods: {
			handleSaved(event) {
				this.$emit('message', event);
				this.form = null;
				this.loadData();
			},
			loadData() {
				axios.get('getCategories').then(response => {
					this.categories = response.data;
				});
			}
		},
		components: {
			categoryForm: require('./form.vue').default
		}
	}
</script>