@import url('https://fonts.googleapis.com/css?family=Nunito')
@import '~bootstrap/dist/css/bootstrap.css'
@import '~@fortawesome/fontawesome-free/css/all.css'
@import '~vue-select/src/scss/vue-select.scss'
@import '~vue-multiselect/dist/vue-multiselect.min.css'
@import 'responsiveness'
@import 'nav'
@import 'tables'
@import 'forms'
@import 'tabs'
@import 'report'

body
    background: #f0f0f0
    @media(max-width: 768px)
        font-size: 12px

[v-cloak]
    display: none

.content
    position: relative
    width: calc(100% - #{$sidebar})
    margin-left: $sidebar
    margin-top: 70px
    padding: 20px
    z-index: 10

    @media(max-width: 768px)
        width: 100%
        margin-left: 0
        padding: 5px

.login
    margin: 20px

.np
    padding: 0

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus
    outline: none
    box-shadow: none

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus
    border-color: none
    box-shadow: none
    outline: 0 none
    border-bottom: 1px solid $color2

button:focus
    border-color: none
    box-shadow: none
    outline: 0 none

.margin-top
    margin-top: 5px

.pull-right
    float: right

.pull-left
    float: left

.self-clear:after
    content: ""
    clear: both
    display: table

.va-middle
    vertical-align: middle

.marked
    color: red

.align-bottom
    align-self: flex-end

.unselectable
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
