$sidebar: 200px
$color1: #db4646
$color2: #ba2323
$grey1: #e3e3e3
$disabled: #e35d5d
$shadow: 1px 1px 4px 0px #C7C7C7

.navbar
	position: fixed
	height: 70px
	width: 100%
	top: 0
	background: $color1
	color: white
	z-index: 100
	box-shadow: $shadow

.sidebar
	position: fixed
	top: 0
	width: $sidebar
	height: calc(100vh - 70px)
	// border-right: 1px solid $grey1
	padding-top: 10px
	background: white
	margin-top: 70px
	box-shadow: $shadow

	@media(max-width: 768px)
		display: none
		width: 150px
		z-index: 100

.btn-icon
	background: $color1
	border-radius: 50%
	color: white
	@media(max-width: 768px)
		margin-right: 5px

.btn-primary
	background: $color1
	border: 0
	padding: 5px 10px

.btn-icon:hover, .btn-primary:hover
	color: white
	background: $color2

.btn-primary:disabled
	background: #e35d5d

.btn-navbar
	color: $color1
	background: white
	border-radius: 50%
	margin-left: 5px

.btn-navbar:hover
	color: black

#menu
	display: none
	@media(max-width: 768px)
		display: inline-block

.show-menu
	display: block

.btn 
	@media(max-width: 768px)
		font-size: 11px
		padding: 6px 9px !important

.link
	color: $color1

.link:hover
	color: $color2
	text-decoration: underline
	cursor: pointer
