.report
	background: white
	border-radius: 5px
	width: 100%
	float: left
	margin-bottom: 20px
	box-shadow: $shadow

	td, th 
		padding: 5px

	th 
		border-top: none	

.report-head
	width: 100%
	background: #db4646
	color: white
	padding: 15px
	border-radius: 5px 5px 0 0

.report-body
	padding: 15px

.report-login
	margin: auto
	float: none