.table-icon-cell
	width: 50px

td, th
	@media(max-width: 768px)
		padding: 5px !important

.project-column
	@media(max-width: 768px)
		width: 100px

.btn-table
	border: none
	background: none
	padding: 0

.hide-on-mobile
	@media(max-width: 425px)
		display: none

.display-times
	width: 120px
	@media(max-width: 768px)
		width: 120px

.column-icon
	width: 2em

.w10
	width: 10%

.w20
	width: 20%

.w30
	width: 30%

.w40
	width: 40%

.w50
	width: 50%

.w60
	width: 60%

.w70
	width: 70%
	