.tabs
	margin: 20px 0

.btn-tab
	color: $color1
	background: none
	border: none
	border-bottom: 2px solid #bababa
	padding: 10px 20px
	font-size: 16px
	text-transform: uppercase
	@media(max-width: 768px)
		font-size: 13px
		padding: 5px 10px

.btn-tab-selected
	border-bottom: 2px solid $color1

.btn-tab:hover
	border-bottom: 2px solid $color1
	background: white
	@media(max-width: 768px)
		background: none