<template>
	<div>
		<modal @close="$emit('close')">
			<h3 v-if="fields.id">Materiaal bewerken</h3>
			<h3 v-else>Materiaal aanmaken</h3>
			<form-item label="Naam">
				<input id="Naam" type="text" v-model="fields.name" class="form-control">
			</form-item>

			<form-item label="Categorie">
				<select id="Categorie" v-model="fields.category_id" class="form-control">
					<option value="0">Geen categorie</option>
					<option v-for="cat in categories" :value="cat.id">{{ cat.name }}</option>
				</select>
			</form-item>

			<button @click="save('materials', fields)" 
					class="btn-primary btn-block margin-top"
					:disabled="!validated()">
				Opslaan
			</button>
		</modal>
	</div>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			axios.get('getCategories').then(response => {
				this.categories = response.data;
			});
			if(this.data) {
				this.fields = this.data;
			}
		},
		data() {
			return {
				fields: {},
				categories: [],
			}
		},
		methods: {
			validated() {
				let output = true;
				
				if(!this.fields.name) {
					output = false;
				}

				return output;
			}			
		}
	}
</script>