<template>
	<div>
		<h1>Materialen</h1>
		<table class="table">
			<thead>
				<th class="table-icon-cell"> 
					<button @click="openForm(0)" class="btn btn-icon"> <i class="fas fa-plus"></i> </button> 
				</th>
				<th></th>
				<th class="table-icon-cell"></th>
			</thead>
			<tbody v-for="cat in categories" v-if="cat.materials.length > 0" class="multi-tbody">
				<tr>
					<td colspan="3"> <h4>{{ cat.name }}</h4> </td>
				</tr>
				<tr>
					<th> 
						<button @click="openForm(cat.id)" class="btn-table"> <i class="fas fa-plus"></i> </button> 
					</th>
					<th>Naam</th>
					<th></th>
				</tr>
				<tr v-for="mat in cat.materials">
					<td> <button @click="editForm(mat)" class="btn-table">
						<i class="fas fa-pencil-alt"></i>
					</button> </td>
					<td> {{ mat.name }} </td>
					<td> <button @click="confirmDelete = mat" class="btn table">
						<i class="fas fa-trash"></i>
					</button> </td>
				</tr>
			</tbody>
		</table>
		
		<confirm v-if="confirmDelete"
				 @close="confirmDelete = null"
				 @confirm="destroy('materials', confirmDelete.id)">
			<h3>Materiaal {{ confirmDelete.name }} verwijderen?</h3>
		</confirm>

		<material-form :data="form" 
					   v-if="form" 
					   @close="form = null"
					   @saved="handleSaved($event)"
					   @error="handleError($event)">			   	
		</material-form>
	</div>
</template>

<script>
	export default {
		mounted() {
			this.loadData();
		},
		data() {
			return {
				categories: [],
				form: null,
				confirmDelete: null
			}
		},
		methods: {
			openForm(cat = null) {
				this.form = {category_id: cat}
			},
			editForm(data) {
				let form = JSON.stringify(data);
				this.form = JSON.parse(form);
			},
			loadData() {
				axios.get('getMaterials').then(response => {
					this.categories = response.data;
				});
			},
			handleSaved(event) {
				this.loadData();
				this.form = null;
				this.$emit('message', event);
			} 
		},
		components: {
			materialForm: require('./form.vue').default
		}
	}
</script>