<template>
	<modal @close="$emit('close')">
		<h3 v-if="fields.id">Feedback bewerken</h3>
		<h3 v-else>Feedback aanmaken</h3>

		<form-item label="Tekst">
			<input v-model="fields.text" type="text" class="form-control">
		</form-item>

		<form-item label="Type">
			<select v-model="fields.type" class="form-control">
				<option value="0">Opmerking</option>
				<option value="1">Bug</option>
			</select>
		</form-item>

		<form-item label="Schatting uren (optioneel)">
			<input v-model="fields.hours" type="text" class="form-control">
		</form-item>

		<button @click="save('feedback', fields)" 
				class="btn-primary margin-top btn-block"
				:disabled="!fields.text">
			Opslaan
		</button>
	</modal> 
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			let data = JSON.stringify(this.data);
			this.fields = JSON.parse(data);
		},
		data() {
			return {
				fields: {}
			}
		}
	}
</script>