<template>
	<div v-if="feedback.length || status == 'open'">
		<h3>{{ header() }}</h3>
		<table class="table">
			<thead>
				<th v-if="status == 'open'" class="table-icon-cell">
					<button @click="form = {type: 0}" class="btn btn-icon">
						<i class="fas fa-plus"></i>
					</button>
				</th>
				<th>#</th>
				<th>Tekst</th>
				<th>Uren</th>
				<th class="table-icon-cell"></th>
				<th class="table-icon-cell"></th>
			</thead>
			<tbody>
				<tr v-for="item in feedback">
					<td v-if="status == 'open'">
						<button @click="confirmStatus = item" class="btn-table">
							<i class="fas fa-check"></i>
						</button>
					</td>
					<td>{{ item.id }}</td>
					<td :class="{'marked': item.type == 1}"> {{ item.text }} </td>
					<td> {{ item.hours }} </td>
					<td>
						<button @click="form = item" class="btn-table"> 
							<i class="fas fa-pencil-alt"></i> 
						</button>
					</td>					
					<td>
						<button @click="confirmDelete = item" class="btn-table">
							<i class="fas fa-trash"></i>
						</button>
					</td>					
				</tr>
			</tbody>
		</table>
		<feedback-form v-if="form" 
					   :data="form" 
					   @close="form = null"
					   @saved="handleSaved($event)"
					   @error="handleError($event)">			   	
		</feedback-form>

		<confirm v-if="confirmDelete" 
				 @confirm="destroy('feedback', confirmDelete.id)"
				 @close="confirmDelete = null">
			<h3>Wilt u de volgende feedback verwijderen?</h3>
			<p>"{{ confirmDelete.text }}"</p>
		</confirm>

		<confirm v-if="confirmStatus" 
				 @confirm="complete(confirmStatus)"
				 @close="confirmStatus = null">
			<h3>Wilt u de volgende feedback afronden?</h3>
			<p>"{{ confirmStatus.text }}"</p>
		</confirm>
	</div>
</template>

<script>
	export default {
		props: ['status'],
		mounted() {
			this.loadData();
		},
		data() {
			return {
				feedback: [],
				form: null,
				confirmDelete: null,
				confirmStatus: null
			}
		},
		methods: {
			header() {
				return this.status == 'open' ? 'Open feedback' : 'Afgeronde feedback'
			},
			loadData() {
				let status = this.status == 'open' ? 0 : 1;
				axios.get('/getFeedback', { params: {status: status} }).then(response => {
					this.feedback = response.data;
				});
			},
			handleSaved(event) {
				this.$emit('message', event);
				this.form = null;
				this.loadData();
			},
			complete(item) {
				let feedback = JSON.stringify(item);
				feedback = JSON.parse(feedback);
				feedback.status = 1;

				axios.put('/feedback/'+feedback.id, feedback).then(response => {
					this.$emit('message', response.data);
					this.$emit('refresh');
					this.loadData();
					this.confirmStatus = null;
				});
			}
		},
		components: {
			feedbackForm: require('./form.vue').default
		}
	}
</script>