<template>
	<div>
		<h3 v-if="fields.id">Herhinnering bewerken</h3>
		<h3 v-else>Herhinnering aanmaken</h3>

		<form-item label="Datum">
			<datepicker v-model="fields.date"
						:format="dateFormat"
						:language="nl"
						:disabled-dates="{
							to: new Date()
						}"
						input-class="form-control datepicker">
			</datepicker>
		</form-item>

		<form-item label="Herhinnering">
			<textarea v-model="fields.reminder" cols="30" rows="4" class="form-control">
			</textarea>
		</form-item>

		<button :disabled="!fields.date || !fields.reminder"
				@click="prepare(fields)" class="btn btn-primary btn-block mt-2">
			Opslaan
		</button>
	</div>
</template>

<script>
	import {datepickerMixin} from '../../mixins/datepickerMixin';

	export default {
		mixins: [datepickerMixin],
		props: ['data'],
		mounted() {
			if(Object.keys(this.data).length > 0) {
				this.fields = this.copy(this.data);
			} else {
				this.fields.date = moment().add(1, 'days').toDate();
				this.$forceUpdate();
			}
		},
		data() {
			return {
				fields: {}
			}
		},
		methods: {
			prepare(fields) {
				fields.date = moment(fields.date).format('YYYY-MM-DD');

				this.save('/reminders', fields);
			},
		}
	}
</script>
