<style scoped lang="sass">
	.column-date
		width: 10em
</style>

<template>
	<div class="report">
		<div class="report-head">
			{{ title }}
		</div>
		<div class="report-body">
			<p v-if="reminders.length == 0" class="text-muted">
				<i>Geen herhinneringen gevonden.</i>
			</p>
			<table v-else class="table">
				<thead>
					<th class="column-icon"></th>
					<th class="column-icon">#</th>
					<th class="column-date">Datum</th>
					<th>Tekst</th>
					<th class="column-icon"></th>
				</thead>
				<tbody>
					<tr :class="{'marked': marked == reminder.id}" 
						v-for="(reminder, key) in reminders">
						<td class="column-icon">
							<button @click="$emit('form', reminder)" class="btn-table">
								<i class="fas fa-pencil-alt"></i>
							</button>
						</td>
						<td>{{ key + 1 }}</td>
						<td>{{ dateFormat(reminder.date) }}</td>
						<td class="text-muted"> <i>{{ reminder.reminder }}</i> </td>
						<td>
							<button @click="$emit('destroy', reminder.id)" class="btn-table">
								<i class="fas fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
	import {datepickerMixin} from '../../mixins/datepickerMixin';

	export default {
		mixins: [datepickerMixin],
		props: ['reminders', 'title', 'marked'],
	}
</script>