<template>
	<div>
		<div class="pull-right mb-2">
			<button @click="form = {}" class="btn btn-icon">
				<i class="fas fa-plus"></i> 
			</button>
		</div>

		<notification :input="message"></notification>

		<list @form="form = $event"  
			  @destroy="confirmDelete = $event"
			  title="Herhinneringen voor vandaag"
			  :reminders="reminders_today"
			  :marked="confirmDelete">
		</list>

		<list @form="form = $event"  
			  @destroy="confirmDelete = $event"
			  title="Aankomende herhinneringen" 
			  :reminders="reminders_future"
			  :marked="confirmDelete">
		</list>

		<list @form="form = $event"  
			  @destroy="confirmDelete = $event"
			  title="Oude herhinneringen" 
			  :reminders="reminders_past"
			  :marked="confirmDelete">
		</list>

		<confirm v-if="confirmDelete"
				 @close="confirmDelete = null"
				 @confirm="destroy('/reminders', confirmDelete)">
			Herhinnering verwijderen?
		</confirm>

		<modal v-if="form" @close="form = null">
			<reminder-form :data="form"
						   @close="form = null" 
						   @message="handleDeleted(event)"
						   @saved="handleSaved($event)">			   	
			</reminder-form>
		</modal>
	</div>
</template>

<script>
	export default {
		mounted() {
			this.loadData();
		},
		data() {
			return {
				reminders: [],	
				form: null,
				confirmDelete: null
			}
		},
		methods: {
			loadData() {
				axios.get('/reminders').then(response => {
					this.reminders = response.data;
				});
			},
			handleSaved(event) {
				this.form = null;
				this.message = event.message;
				this.loadData();
			},
			handleDeleted(event) {
				console.log('test');

				$emit('message', {
					status: 1,
					text: event.message,
				}); 
				this.loadData();
			}
		},
		computed: {
			reminders_today() {
				return _.filter(this.reminders, {date: moment().format('YYYY-MM-DD')});
			},
			reminders_future() {
				return _.filter(this.reminders, reminder => {
					return reminder.date > moment().format('YYYY-MM-DD');
				});
			}, 
			reminders_past() {
				return _.filter(this.reminders, reminder => {
					return reminder.date < moment().format('YYYY-MM-DD');
				});
			}
		},
		components: {
			reminderForm: require('./form.vue').default,
			list: require('./list.vue').default,
		}
	}
</script>