<template>
	<div>
		<overview v-for="(report, key) in reports"
				  :data="report"
				  :key="key">		  	
		</overview>
	</div>
</template>

<script>
	import { momentMixin } from '../../mixins/momentMixin';

	export default {
		mixins: [momentMixin],
		mounted() {
			let start = moment().day(-7).format('YYYY-MM-DD');
			let end = moment().format('YYYY-MM-DD');

			this.range = this.dateRange(start, end);
			this.loadData(this.range);
		},
		data() {
			return {
				reports: [],
				range: null,
			}
		},
		methods: {
			loadData(range) {
				axios.get('/dayReports', { params: range }).then(response => {
					let reports = _.filter(response.data, day => { return day.hours }).reverse();

					reports.map((report, key) => {
						reports[key].hours = this.handleDeleted(report.hours, 'project');
					});

					this.reports = reports;
				});
			},
			dateRange(start, end) {
				let range = Array.from(moment.range(start, end).by('day'));
				let array = [];

				range.map(date => {
					array.push(date.format('YYYY-MM-DD'));
				});

				return array;
			},
		},
		components: {
			overview: require('./overview.vue').default
		}
	}
</script>