<style scoped lang="sass">
	h4
		margin-bottom: 0

	td, th 
		padding: 5px

	th 
		border-top: none
</style>

<template>
	<div class="report">
		<div class="report-head">
			<h4>{{ displayDate(data.date) }}</h4>
		</div>
		<div class="report-body">
			<table class="table">
				<thead>
					<th colspan="3"><h5>Uren</h5></th>
				</thead>
				<tr v-for="hour in data.hours">
					<td> {{ hour.startTime }} - {{ hour.endTime }} {{ hour.mw ? '(mw)' : null }} </td>
					<td> {{ hour.project.name }} </td>
					<td> {{ hour.description ? hour.description : 'Geen omschrijving' }} </td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
	import { momentMixin } from '../../mixins/momentMixin';

	export default {
		mixins: [momentMixin],
		props: ['data'],
		methods: {
			displayDate(date) {
				if(date == moment().format('YYYY-MM-DD')) {
					return 'Vandaag';
				} else {
					date = moment(date);
					return date.format('dddd DD-MM-YYYY');
				}
			}
		}
	}
</script>