<template>
    <modal @close="$emit('close')">
        <h2 v-if="form.id">Uitgeleende spullen bewerken</h2>
        <h2 v-else>Uitgeleende spullen aanmaken</h2>

        <form-item label="Naam" class="mt-2">
            <input type="text" class="form-control" v-model="form.name">
        </form-item>

        <form-item label="Persoon">
            <input type="text" class="form-control" v-model="form.person">
        </form-item>

        <form-item label="Datum">
            <datepicker :language="nl" v-model="form.date" input-class="form-control"/>
        </form-item>

        <button class="btn btn-primary btn-block mt-2"
                @click="save('/borrowed-items', formData)"
                :disabled="!validated">
            <i class="fas fa-save"></i> Opslaan
        </button>
    </modal>
</template>

<script>
    import {datepickerMixin} from "../../mixins/datepickerMixin";
    import moment from "moment";

    export default {
        mixins: [datepickerMixin],

        props: {
            data: {
                required: false,
                type: Object,
            }
        },

        mounted() {
            if ((this.data || {}).id) {
                this.form = this.data;
            } else {
                this.$set(this.form, 'date', new Date());
            }
        },

        data() {
            return {
                form: {},
            }
        },

        computed: {
            validated() {
                return this.form.date && this.form.name && this.form.person;
            },

            formData() {
                return {
                    date: this.form.date ? moment(this.form.date).format('YYYY-MM-DD') : null,
                    name: this.form.name,
                    person: this.form.person,
                    id: this.form.id || null,
                }
            },
        },
    }
</script>
