<template>
    <div>
        <h1>Uitgeleende spullen</h1>

        <table class="table">
            <thead>
                <tr>
                    <th class="table-icon-cell">
                        <button class="btn btn-icon" @click="form = {}">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                    <th>Datum</th>
                    <th>Object</th>
                    <th>Persoon</th>
                    <th class="table-icon-cell"></th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="borrowedItem in borrowedItems">
                    <td>
                        <button class="btn-table" @click="form = borrowedItem">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td>{{ moment(borrowedItem.date).format('DD-MM-YYYY') }}</td>
                    <td>{{ borrowedItem.name }}</td>
                    <td>{{ borrowedItem.person }}</td>
                    <td>
                        <button class="btn-table" @click="confirmDelete = borrowedItem">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <borrowed-items-form v-if="form" @close="form = null" :data="form" @saved="handleSaved($event)"/>

        <confirm v-if="confirmDelete" @close="confirmDelete = null"
                 @confirm="destroy('/borrowed-items', confirmDelete.id)">
            {{ confirmDelete.name }} uitgeleend op {{ moment(confirmDelete.date).format('DD-MM-YYYY') }}
            aan {{ confirmDelete.person }} verwijderen?
        </confirm>
    </div>
</template>

<script>
    import moment from "moment";

    export default {
        props: {
            user: {
                type: Object,
                required: true,
            }
        },

        mounted() {
            this.loadData();
        },

        data() {
            return {
                borrowedItems: [],
                form: null,
                confirmDelete: null,
                moment,
            }
        },

        methods: {
            loadData() {
                axios.get('/getBorrowedItems').then(response => {
                    this.borrowedItems = response.data;
                });
            },

            handleSaved($event) {
                this.form = null;
                this.loadData();
                this.$emit('message', $event);
            },
        },

        components: {
            borrowedItemsForm: require('./form.vue').default,
        }
    }
</script>
