<template>
	<modal @close="$emit('close')">
		<h3 v-if="fields.id">Project bewerken</h3>
		<h3 v-else>Project aanmaken</h3>

		<form-item label="Naam">
			<input v-model="fields.name" type="text" class="form-control">
		</form-item>

		<form-item label="Klant">
			<select class="form-control" v-model="fields.client_id">
				<option v-for="client in clients" :value="client.id">{{ client.name }}</option>
			</select>
		</form-item>

		<button @click="save('projects', fields)" 
				class="btn-primary btn-block margin-top"
				:disabled="!validated()"> 
			Opslaan 
		</button>
	</modal>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			axios.get('getClients').then(response => {
				this.clients = response.data;
				if(!this.data.id) {	
					this.fields.client_id = response.data[0].id;
				} else {
					this.fields = this.data;
				}
			});
		},
		data() {
			return {
				fields: {},
				clients: []
			}
		},
		methods: {
			validated() {
				let output = true;
				
				if(!this.fields.name) {
					output = false;
				}

				return output;
			}
		}
	}
</script>