<template>
	<div>
		<h3>Uren</h3>
		<table class="table">
			<thead>
				<th class="table-icon-cell">
					<button class="btn btn-icon" @click="$emit('form', {project_id: project.id})">
						<i class="fas fa-plus"></i>
					</button>
				</th>
				<th class="display-times">Tijd</th>
				<th>Uren</th>
				<th>Gebruiker</th>
				<th>Omschrijving</th>
				<th class="table-icon-cell"></th>
			</thead>
			<tbody>
				<tr :class="{'marked': confirmDelete && confirmDelete.id == hour.id}" v-for="hour in hours">
					<td>
						<button @click="$emit('form', hour)" class="btn-table">
							<i class="fas fa-pencil-alt"></i>
						</button>
					</td>
					<td>{{ hour.startTime }} - {{ hour.endTime }}</td>
					<td>{{ displayHours(hour) }}</td>
					<td v-if="hour.user"> {{ hour.user.name }} </td>
					<td>{{ description(hour.description) }}</td>
					<td>
						<button @click="confirmDelete = hour" class="btn-table">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<confirm v-if="confirmDelete"
				 @close="confirmDelete = null"
				 @confirm="destroy('/hours', confirmDelete.id)">
			Uren verwijderen?
		</confirm>
	</div>
</template>

<script>
	export default {
		props: ['project'],
		mounted() {
			this.loadData();
		},
		data() {
			return {
				hours: [],
				confirmDelete: null
			}
		},
		methods: {
			loadData() {
				axios.get('/hoursByProject/'+this.project.id).then(response => {
					this.hours = response.data;
				});
			}
		}
	}
</script>