<template>
	<div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Zoeken..." v-model="searchInput">
            </div>
        </div>

		<table class="table">
			<thead>
				<th class="table-icon-cell">
					<button @click="form = {}" class="btn btn-icon"> <i class="fas fa-plus"></i> </button>
				</th>
				<th>Naam</th>
				<th>Klant</th>
				<th class="table-icon-cell"></th>
			</thead>
			<tbody>
				<tr v-for="(project, key) in projectsFiltered">
					<td>
						<button @click="form = project" class="btn-table">
							<i class="fas fa-pencil-alt"></i>
						</button>
					</td>
					<td> <a class="link" :href="'/projects/'+project.id">{{ project.name }}</a> </td>

					<td>
                        <a v-if="project.client" class="link" :href="'/clients/'+project.client.id">
                            {{ project.client.name }}
                        </a>

                        <em v-else class="text-muted">Verwijderde klant</em>
                    </td>
					<td>
						<button @click="confirmDelete = project" class="btn-table">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<confirm v-if="confirmDelete"
				 @close="confirmDelete = null"
				 @confirm="destroy('projects', confirmDelete.id)">
			<h3>Project {{ confirmDelete.name }} verwijderen?</h3>
		</confirm>

		<project-form v-if="form"
					  :data="form"
					  @saved="handleSaved($event)"
					  @error="handleError($event)"
					  @close="form = null">
		</project-form>
	</div>
</template>

<script>
	import {searchMixin} from "../../mixins/searchMixin";

    export default {
	    mixins: [searchMixin],

		mounted() {
			this.loadData();
		},

		data() {
			return {
				form: null,
				projects: [],
				confirmDelete: null,
                searchInput: null,
			}
		},

		methods: {
			handleSaved(data) {
				this.form = false;
				this.$emit('message', data);
				this.loadData();
			},

			loadData() {
				axios.get('/getProjects').then(response => { this.projects = response.data })
			},
		},

        computed: {
	        projectsFiltered() {
                if (this.projects.length > 0) {
                    return this.search(this.projects, this.searchInput, ['name']);
                }
            }
        },

		components: {
			projectForm: require('./form.vue').default
		}
	}
</script>
