<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<h2>
					<a class="link" href="/projects">Projecten</a>/{{ project.name }}
				</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="tabs">
					<button @click="page = 0" class="btn-tab" :class="{'btn-tab-selected': page == 0}">
						Uren
					</button>
					<button @click="page = 1" class="btn-tab" :class="{'btn-tab-selected': page == 1}">
						Voorkeuren
					</button>
				</div>
			</div>
		</div>

		<div v-if="page == 0" class="row">
			<div class="col-md-12">
				<hours @form="$emit('form', $event)" 
					   @message="$emit('message', $event)"
					   v-if="project.id" 
					   :project="project"
					   ref="hours">	   	
				</hours>
			</div>
		</div>

		<div v-if="page == 1" class="row">
			<div class="col-md-12">
				<settings @saved="loadData()" :data="project"></settings>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['project_id'],
		mounted() {
			this.loadData()
		},
		data() {
			return {
				project: {},
				page: 0
			}
		},
		methods: {
			loadData() {
				axios.get('/getProject/'+this.project_id).then(response => {
					this.project = response.data;
				});
			},
			handleSaved() {
				this.$refs.hours.loadData();
			}
		},
		components: {
			settings: require('./settings.vue').default,
			hours: require('./hours.vue').default
		}
	}
</script>