<template>
	<modal @close="$emit('close')">
		<h3 v-if="fields.id">Gebruiker bewerken</h3>
		<h3 v-else>Gebruiker aanmaken</h3>
		
		<form-item label="Naam">
			<input v-model="fields.name" type="text" class="form-control">
		</form-item>		

		<form-item label="Emailadres">
			<input v-model="fields.email" type="text" class="form-control">
		</form-item>

		<form-item label="Wachtwoord">
			<input v-model="fields.password" type="password" class="form-control">
		</form-item>

		<button @click="save('users', fields)" 
				class="btn-primary btn-block margin-top"
				:disabled="!fields.name || !fields.email">
			Opslaan
		</button>
	</modal>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			let data = JSON.stringify(this.data);
			this.fields = JSON.parse(data);
		},
		data() {
			return {
				fields: {},
			}
		},
		methods: {

		}
	}
</script>