<template>
	<div>
		<table class="table">
			<thead>
				<th class="table-icon-cell">
					<button @click="form = {}" class="btn btn-icon">
						<i class="fas fa-plus"></i>
					</button>
				</th>
				<th> Naam </th>
				<th> Email </th>
				<th class="table-icon-cell"></th>
			</thead>
			<tbody>
				<tr v-for="user in users">
					<td>
						<button @click="form = user" class="btn-table">
							<i class="fas fa-pencil-alt"></i>
						</button>
					</td>
					<td> {{ user.name }} </td>
					<td> {{ user.email }} </td>
					<td>
						<button @click="confirmDelete = user" class="btn-table">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<confirm v-if="confirmDelete"
			     @close="confirmDelete = null"
			     @confirm="destroy('users', confirmDelete.id)">
			Gebruiker {{ confirmDelete.name }} verwijderen?
		</confirm>
	
		<user-form v-if="form"
				   :data="form"
				   @close="form = null"
				   @saved="handleSaved($event)"
				   @error="handleError($event)">		   	
		</user-form>
	</div>
</template>

<script>
	export default {
		mounted() {
			this.loadData();
		},
		data() {
			return {
				users: [],
				form: null,
				confirmDelete: null
			}
		},
		methods: {
			loadData() {
				axios.get('/getUsers').then(response => {
					this.users = response.data;
				});
			},
			handleSaved(event) {
				this.form = null;
				this.loadData();
				this.$emit('message', event);
			}
		},
		components: {
			userForm: require('./form.vue').default,
		}
	}
</script>