<template>
	<modal width="767px" v-if="day && project" @close="$emit('close')">
		<h3>Uren op {{ reverseDate(day.date) }} voor {{ project.client.name }} ({{ project.name }})</h3>
		<table class="table">
			<thead>
				<th class="table-icon-cell"> 
					<button @click="$emit('form', {date: day.date, project_id: project.id})" 
							class="btn btn-icon"> 
						<i class="fas fa-plus"></i> 
					</button> 
				</th>
				<th> Gebruiker </th>
				<th> Tijd </th>
				<th> Uren </th>
				<th> Omschrijving </th>
				<th></th>
			</thead>
			<tbody>
				<tr v-if="!hour.mw && !hour.break" 
					:class="{'marked': confirmDelete && confirmDelete.id == hour.id}" 
					v-for="hour in day.hours">
					<td>
						<button @click="$emit('form', hour)" class="btn-table"> 
							<i class="fas fa-pencil-alt"></i> 
						</button>
					</td>
					<td> {{ hour.user.name }} </td>
					<td> {{ hour.startTime }} - {{ hour.endTime }} </td>
					<td> {{ displayHours(hour) }} </td>
					<td> {{ description(hour.description) }} </td>
					<td>
						<button @click="confirmDelete = hour" class="btn-table"> 
							<i class="fas fa-trash"></i> 
						</button>
					</td>
				</tr>
			</tbody>

			<tbody v-if="contains(day.hours, 'mw')">
				<tr>
					<th colspan="6">Meerwerk</th>
				</tr>
				<tr v-if="hour.mw && !hour.break" 
					:class="{'marked': confirmDelete && confirmDelete.id == hour.id}" 
					v-for="hour in day.hours">
					<td>
						<button @click="$emit('form', hour)" class="btn-table"> 
							<i class="fas fa-pencil-alt"></i> 
						</button>
					</td>
					<td> {{ hour.user.name }} </td>
					<td> {{ hour.startTime }} - {{ hour.endTime }} </td>
					<td> {{ displayHours(hour) }} </td>
					<td> {{ description(hour.description) }} </td>
					<td>
						<button @click="confirmDelete = hour" class="btn-table"> 
							<i class="fas fa-trash"></i> 
						</button>
					</td>
				</tr>
			</tbody>

			<tbody v-if="contains(day.hours, 'break')">
				<tr>
					<th colspan="6">Pauze</th>
				</tr>
				<tr v-if="hour.break" 
					:class="{'marked': confirmDelete && confirmDelete.id == hour.id}" 
					v-for="hour in day.hours">
					<td>
						<button @click="$emit('form', hour)" class="btn-table"> 
							<i class="fas fa-pencil-alt"></i> 
						</button>
					</td>
					<td> {{ hour.user.name }} </td>
					<td> {{ hour.startTime }} - {{ hour.endTime }} </td>
					<td> {{ displayHours(hour) }} </td>
					<td> {{ description(hour.description) }} </td>
					<td>
						<button @click="confirmDelete = hour" class="btn-table"> 
							<i class="fas fa-trash"></i> 
						</button>
					</td>
				</tr>
			</tbody>	
		</table>
			
		<confirm v-if="confirmDelete"
				 @close="confirmDelete = null"
				 @confirm="destroy('/hours', confirmDelete.id)">
			<h3>Uren verwijderen?</h3>
		</confirm>
	</modal>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			this.day = this.data.day;
			this.day.hours = _.orderBy(this.day.hours, 'endTime', 'asc');

			this.project = this.data.project;
		},
		data() {
			return {
				day: null,
				project: null,
				confirmDelete: null
			}
		},
		methods: {
			loadData() {
				this.$emit('refresh');
			},
		}
	}
</script>