<template>
    <div class="report-body">
        <div v-for="userItem in users" v-if="hours.length > 0">
            <h4 v-if="!user || user.is_admin">Uren {{ userItem.name }}</h4>

            <table class="table">
                <tbody v-for="hour in userItem.hours" :class="{'marked': confirmDelete === hour}">
                    <tr>
                        <td>
                            <button @click="$emit('form', hour)"
                                class="btn-table">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </td>
                        <td v-if="!checkOptions(options)">
                            <strong>{{ checkClient(hour) }}</strong>
                            -
                            <span v-if="hour.project">
                                {{ hour.project.name }}
                            </span>
                        </td>
                        <td>
                            {{ hour.startTime }}&nbsp;-&nbsp;{{ hour.endTime }}
                            <span v-if="hour.break_minutes">- ({{ hour.break_minutes }} minuten pauze)</span>
                        </td>
                        <td>{{ displayHours(hour) }} {{ getHourType(hour) }}</td>
                        <td v-if="checkOptions(options)"></td>
                    </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <i class="text-muted"> {{ hour.description ? hour.description : 'Geen omschrijving ingevoerd' }} </i>
                    </td>
                    <td class="column-icon" style="text-align: right">
                        <button @click="confirmDelete = hour"
                                class="btn-table">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p v-if="hours.length === 0">Geen uren ingevoerd op deze datum.</p>

        <confirm v-if="confirmDelete"
                 @confirm="destroy('/hours', confirmDelete.id)"
                 @close="confirmDelete = null">
            Uren verwijderen?
        </confirm>
    </div>
</template>

<script>
    export default {
        props: {
            hours: {
                type: Array,
                required: true,
            },

            options: {
                required: true,
            },

            user: {
                type: Object,
            }
        },

        data() {
            return {
                confirmDelete: false,
            }
        },

        methods: {
            checkOptions(options) {
                if(options && options.client_id) {
                    return parseInt(options.client_id);
                }
            },
        },

        computed: {
            users() {
                let ids = _.uniq(_.map(this.hours, hour => {return hour.user_id}));

                const users = _.map(ids, user_id => {
                    let hour = _.find(this.hours, {user_id});
                    let user = hour.user;

                    return {
                        name: user.name,
                        hours: _.filter(this.hours, {user_id: user.id}),
                    }
                });

                return _.sortBy(users, 'name');
            },
        }
    }
</script>
