<template>
    <modal @close="$emit('close')" show-overflow>
        <h3>Filters</h3>

        <div class="row">
            <div class="col-12">
                <label for="hideEmptyDates">
                    <input id="hideEmptyDates" type="checkbox" v-model="filters.hideEmptyDates">

                    Lege data niet tonen
                </label>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-12">
                <strong>Van/Tot</strong>
            </label>

            <div class="col-6">
                <datepicker input-class="form-control" :language="nl"
                            v-model="filters.fromDate"></datepicker>
            </div>

            <div class="col-6">
                <datepicker input-class="form-control" :language="nl"
                            v-model="filters.toDate"></datepicker>
            </div>
        </div>

        <div class="row mb-2" v-if="userIsAdmin">
            <label class="col-12">
                <strong>Gebruikers</strong>
            </label>

            <div class="col-12">
                <multiselect v-model="filters.users" :options="users" multiple track-by="id" label="name"/>
            </div>

        </div>

        <div class="row mb-2">
            <label class="col-12">
                <strong>Klanten</strong>
            </label>

            <div class="col-12">
                <multiselect v-model="filters.clients" :options="clients" multiple track-by="id" label="name"/>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <button @click="$emit('close')" class="btn btn-link text-dark">Sluiten</button>
                    <button @click="$emit('apply', filters); $emit('close')" class="btn btn-primary">Filters toepassen</button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import {ref} from "@vue/composition-api";
    import {datepickerMixin} from "../../mixins/datepickerMixin";
    import Multiselect from  'vue-multiselect';

    export default {
        mixins: [datepickerMixin],

        props: {
            value: Array,
            userIsAdmin: Boolean,
        },

        setup(props, context) {
            let weeksFiltered = ref([]);
            let filters = ref({
                hideEmptyDates: false,
            });

            return {weeksFiltered, filters};
        },

        created() {
            this.loadUsers();
            this.loadClients();
        },

        data() {
            return {
                users: [],
                clients: [],
            }
        },

        methods: {
            loadUsers() {
                axios.get('/getUsers').then(({data}) => {
                    this.users = data;
                });
            },

            loadClients() {
                axios.get('/getClients').then(({data}) => {
                    this.clients = data
                });
            }
        },

        components: {
            Datepicker: require('vuejs-datepicker').default,
            Multiselect,
        },
    }
</script>
