<style scoped lang="sass">

</style>

<template>
	<modal @close="$emit('close')">
		<div v-if="clients.length > 0">
			<h2 v-if="fields.id">Uren bewerken</h2>
			<h2 v-else>Uren toevoegen</h2>

			<form-item label="Klant">
				<v-select placeholder="Selecteer een klant"
						  v-model="fields.client_id"
						  :clearable="false"
						  :options="clients"
						  :reduce="name => name.id"
						  @input="$forceUpdate(); assignProjects()"
						  label="name">
				</v-select>
			</form-item>

			<form-item label="Project">
				<v-select placeholder="Geen projecten gevonden"
						  v-model="fields.project_id"
						  :clearable="false"
						  :options="projects"
						  :reduce="name => name.id"
						  @input="$forceUpdate()"
						  label="name">
				</v-select>
			</form-item>

			<form-item label="Datum">
				<datepicker input-class="form-control datepicker"
							:language="nl"
							:format="dateFormat"
							v-model="fields.date">
				</datepicker>
			</form-item>

			<div class="row">
				<div class="col-6">
					<form-item label="Begintijd">
						<vue-clock-picker ref="startTime"
                                          active-color="#db4646"
										  input-class="form-control datepicker"
										  done-text="Klaar"
										  cancel-text="Annuleren"
										  v-model="fields.startTime">
                                          @timeset="console.log($event)"
						</vue-clock-picker>
					</form-item>
				</div>
				<div class="col-6">
					<form-item label="Eindtijd">
						<vue-clock-picker ref="endTime"
                                          active-color="#db4646"
										  input-class="form-control datepicker"
										  done-text="Klaar"
										  cancel-text="Annuleren"
										  v-model="fields.endTime">
						</vue-clock-picker>
					</form-item>
				</div>
			</div>

            <form-item label="Pauze (minuten)">
                <input type="number" class="form-control" v-model="fields.break_minutes"/>
            </form-item>

			<form-item label="Opmerkingen">
				<textarea class="form-control" v-model="fields.description"></textarea>
			</form-item>

			<form-item v-if="user.is_admin" label="Gebruiker">
				<select v-model="fields.user_id" class="form-control">
					<option v-for="user in users" :value="user.id">{{ user.name }}</option>
				</select>
			</form-item>

            <form-checkbox label="Hele dag">
                <input id="Hele dag" type="checkbox" v-model="fields.whole_day">
            </form-checkbox>

			<form-checkbox label="Meerwerk">
				<input id="Meerwerk" type="checkbox" v-model="fields.mw">
			</form-checkbox>

			<form-checkbox label="Werkopname">
				<input type="checkbox" id="Werkopname" v-model="fields.recording">
			</form-checkbox>

			<form-checkbox label="Pauze">
				<input id="Pauze" type="checkbox" v-model="fields.break">
			</form-checkbox>

			<button class="btn btn-primary btn-block margin-top"
					:disabled="!fields.client_id || !fields.startTime || !fields.endTime || !fields.date"
					@click="saveHours()">
				Opslaan
			</button>
		</div>
		<div v-else>
			<h3>Maak eerst klanten aan.</h3>
		</div>
	</modal>
</template>

<script>
	import vSelect from 'vue-select'
	import { datepickerMixin } from '../../mixins/datepickerMixin';
	import VueClockPicker from '@pencilpix/vue2-clock-picker';
	import '@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css';
    import _ from 'lodash';

	export default {
		props: ['data', 'current_user'],

		mixins: [datepickerMixin],

		mounted() {
			this.user = JSON.parse(this.current_user);

			let data = JSON.stringify(this.data);
			this.fields = JSON.parse(data);

			axios.get('/getClients').then(response => {
				let clients = response.data.map(client => {
					client.last_used = client.last_used ? moment(client.last_used) : 0;

					return client;
				});

				this.clients = _.orderBy(clients, ['last_used', 'id'], ['desc', 'desc']);

				if(!this.fields.client_id) {
					this.fields.client_id = this.clients[0].id;
				}

				if(!this.data.date) {
					this.fields.date = new Date();
				} else {
					this.fields.date = moment(this.fields.date).toDate();
				}

				if(!this.fields.user_id) {
					this.fields.user_id = this.user.id;
				}

				this.assignProjects();
			});

			axios.get('/getUsers').then(response => {
				this.users = response.data;
			});
		},

		data() {
			return {
				client_id: null,
				fields: {},
				clients: [],
				projects: [],
				users: [],
				user: {},
                clockPickerStatus: 0,
			}
		},

		methods: {
			saveHours() {
				let hours = this.hours;
				hours.date = this.formatDate(hours.date).split('-').reverse().join('-');

				this.save('/hours', hours);
			},

			assignProjects() {
				let client = _.find(this.clients, {id: this.fields.client_id});

				if(client) {
					this.projects = client.projects;

					if(this.projects.length > 0)
					{
						this.fields.project_id = _(this.projects).orderBy(['id'], ['desc']).first().id
						this.$forceUpdate();
					} else {
						this.fields.project_id = null;
						this.$forceUpdate();
					}
				}
			},
		},

		computed: {
			hours() {
				let data = this.fields;

				return data;
			},
		},

        watch: {
            'fields.whole_day'(value) {
                this.$refs.startTime.setValue(value ? "09:00" : null);
                this.$refs.endTime.setValue(value ? "17:00" : null);
            }
        },

		components: {
			VueClockPicker,
			'v-select': vSelect
		}
	}
</script>
