<style scoped lang="sass">
	h4
		margin-bottom: 0

	.btn-navbar
		margin-top: -5px
		color: white
		background: none

		&:hover
			background: white
			color: black
</style>

<template>
	<div id="overview">
        <div class="float-right">
            <button class="btn btn-primary" @click="showFilters = true">
                <i class="fas fa-filter"></i> Filters
            </button>
        </div>

        <filters v-show="showFilters"
                 :user-is-admin="user.is_admin === 1"
                 @close="showFilters = false"
                 @apply="loadData($event)"/>

		<div v-for="week in weeks">
            <h3 class="float-left">Week {{ week.week }} {{ week.year }}</h3>

			<div v-for="day in week.days" class="report">
				<div class="report-head">
					<span>{{ moment(day.date).format('dddd D MMMM YYYY') }} (week {{ moment(day.date).format('W') }})</span>

					<div class="pull-right">
						<button @click="$emit('form', {date: day.date, client_id: checkOptions(options)})" class="btn btn-navbar">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

                <day :hours="day.hours" :options="options" :user="user" @form="$emit('form', $event)"/>
			</div>
		</div>

		<confirm v-if="confirmDelete"
				 @confirm="destroy('/hours', confirmDelete.id)"
				 @close="confirmDelete = null">
			Uren verwijderen?
		</confirm>
	</div>
</template>

<script>
import {momentMixin} from '../../mixins/momentMixin';
import pagination from "../ui/pagination";
import day from "./day";
import filters from "./filters";
import moment from "moment";

export default {
		props: ['options', 'user'],

		mixins: [momentMixin],

		mounted() {
			this.loadData();
		},

		data() {
			return {
				hours: [],
				weeks: [],
				confirmDelete: null,
                showFilters: false,
                filters: {},
                moment,
			}
		},

		methods: {
			loadData(filters) {
                let filtersCopy = {};

                if (filters) {
                    if (filters.fromDate) filtersCopy.fromDate = moment(filters.fromDate).format('YYYY-MM-DD');
                    if (filters.toDate) filtersCopy.toDate = moment(filters.toDate).format('YYYY-MM-DD');
                    if (filters.users) filtersCopy.users = _.map(filters.users, user => user.id);
                    if (filters.clients) filtersCopy.clients = _.map(filters.clients, client => client.id);
                }

                this.weeks = this.weekRange(filtersCopy);
				let client_id = this.options ? this.options.client_id : null;
				let params = Object.assign({client_id}, filtersCopy);

				axios.get('/getHours', {params: params}).then(response => {
					this.hours = response.data;

					let weeks = this.fillWeeksArray(this.weeks, response.data);

                    weeks = this.applyFilters(weeks, filters);

                    this.weeks = weeks;
				});
			},

			checkOptions(options) {
				if(options && options.client_id) {
					return parseInt(options.client_id);
				}
			},

			handleSaved($event) {
				this.loadData();
			},

            applyFilters(weeks, filters) {
                if (filters?.hideEmptyDates) {
                    weeks = _(weeks).map(week => {
                        week.days = _.filter(week.days, day => day.hours.length > 0);

                        return week;
                    }).filter(week => {
                        return week.days.length > 0;
                    }).value();
                }

                return weeks;
            }
		},

        components: {
		    pagination, day, filters,
        }
	}
</script>
