<style lang="sass" scoped>
	.td-content
		text-align: center

	.td-content:hover
		background: #f5f5f5
		cursor: pointer

	.project-column
		width: 200px
		@media(max-width: 768px)
			width: 130px

	.add-button
		margin-right: 10px
</style>

<template>
	<div>
		<h4>{{ dateString() }}</h4>
		<table class="table">
			<thead>
				<th class="project-column">
					<button @click="$emit('form', {})" class="btn btn-icon add-button">
						<i class="fas fa-plus"></i>
					</button>
					<button @click="previous()" class="btn btn-icon"> <i class="fas fa-arrow-left"></i> </button>
					<button @click="next()" class="btn btn-icon"> <i class="fas fa-arrow-right"></i> </button>
				</th>
				<th style="font-weight: normal" class="td-content" v-for="date in range">
					{{ date.format('dd') }}
				</th>
			</thead>
			<tbody>
				<tr>
					<th> Projecten </th>
					<th @click="modalHours(null, date)"
						class="td-content" v-for="date in range">
						{{ date.format('DD') }}
					</th>
				</tr>
				<tr v-for="project in projects">
					<td>{{ project.name }} ({{ totalOfProject(project) }})</td>
					<td @click="modalHours(project, day.date, day)"
						class="td-content"
						v-for="day in project.days">
						{{ output(day) }}
					</td>
				</tr>
				<tr>
					<td>Totaal ({{ totalOfRange() }})</td>
					<td @click="modalHours(null, moment(day.date))"
						class="td-content"
						v-if="projects"
						v-for="day in totalRow()">
						{{ output(day) }}
					</td>
				</tr>
			</tbody>
		</table>

		<day v-if="day"
			 @close="day = null"
			 @form="$emit('form', $event)"
			 @refresh="loadData(); day = null"
			 @message="$emit('message', $event)"
			 :data="day"></day>
	</div>
</template>

<script>
	import {momentMixin} from '../../mixins/momentMixin';

	export default {
		mixins: [momentMixin],

		props: ['options'],

		mounted() {
			this.loadData(this.options);
		},

		data() {
			return {
				form: false,
				projects: [],
				range: [],
				day: null,
				totals: [],
				date: moment().format('YYYY-MM-DD')
			}
		},

		methods: {
			next() {
				this.date = moment(this.date).add(1, 'weeks').format('YYYY-MM-DD');
			},

			previous() {
				this.date = moment(this.date).add(-1, 'weeks').format('YYYY-MM-DD');
			},

			dateString() {
				let first = moment(this.date).day(1).format('D MMM');
				let last = moment(this.date).day(7).format('D MMM');
				let week = moment(this.date).format('W');
				return first + ' - ' + last + ' (Week ' + week + ')';
			},

			modalHours(project, date, day = null) {
				if(!day || day.hours.length == 0) {
					let data = { date: new Date(date) };
					if(project) { data.project_id = project.id }

					this.$emit('form', data)
				} else {
					this.day = {
						day: day,
						project: project
					};
				}
			},

			output(day) {
				let minutes = [];
				day.hours.map((e) => {

					let start = this.hoursToMinutes(e.startTime);
					let end = this.hoursToMinutes(e.endTime);

					if(!e.break) {
						minutes.push(end - start);
					} else {
						minutes.push(-Math.abs(end - start));
					}
				});

				let total = this.array_sum(minutes);
				return total > 0 ? this.formatHours(total) : null;
			},

			loadData(options) {
				let first = moment(this.date).day(1).format('YYYY-MM-DD');
				let last = moment(this.date).day(7).format('YYYY-MM-DD');
				this.range = Array.from(moment.range(first, last).by('day'));

				let range = []
				this.range.map((e) => range.push(e.format('YYYY-MM-DD')));

				let params = {
					range: range,
					options: options
				}

				axios.get('/getHours', { params: params }).then(response => {
					this.projects = this.orderProjects(response.data)
					this.totals = this.totalRow();
				})
			},
			orderProjects(projects) {
				projects.map((project, key) => {
					projects[key].days = [];

					this.range.map(day => {
						let date = day.format('YYYY-MM-DD');

						projects[key].days.push(this.findHours(date, project));
					});
				});

				return projects;
			},
			findHours(date, project) {
				let hours = [];
				let sum = [];

				if(project.hours.length > 0) {
					project.hours.map(hour => {
						if(hour.date == date) {
							hours.push(hour);
							sum.push(hour.minutes);
						}
					});
				}

				let output = null;
				if(sum.length > 0) {
					let minutes = sum.reduce((a,b) => a + b, 0);
				}

				return {
					hours: hours,
					date: date
				}
			},
			totalOfProject(project) {
				let minutes = [];

				project.hours.map(hour => {
					let start = this.hoursToMinutes(hour.startTime);
					let end = this.hoursToMinutes(hour.endTime);

					if(!hour.break) {
						minutes.push(end - start);
					} else {
						minutes.push(-Math.abs(end - start));
					}
				});

				minutes = this.array_sum(minutes);

				return this.formatHours(minutes)
			},
			totalOfRange() {
				let array_projects = [];

				this.projects.map(project => {
					let array_minutes = [];

					project.hours.map(hour => {
						let start = this.hoursToMinutes(hour.startTime);
						let end = this.hoursToMinutes(hour.endTime);

						if(!hour.break) {
							array_minutes.push(end - start);
						} else {
							array_minutes.push(-Math.abs(end - start));
						}
					});
					array_projects.push(this.array_sum(array_minutes));
				});

				let minutes = this.array_sum(array_projects);

				return this.formatHours(minutes);
			},
			totalRow() {
				let day_array = [];

				this.range.map(day => {
					let date = day.format('YYYY-MM-DD');
					let array = [];

					this.projects.map(project => {
						let hours = _.filter(project.hours, {'date': date});
						array = array.concat(hours);
					});

					day_array.push({date: day, hours: array});
				});

				return day_array;
			},
			handleSaved() {
				this.loadData();
				this.day = null;
			},
			moment(date) {
				return moment(date);
			}
		},
		watch: {
			date(val) {
				this.loadData(this.options);
			}
		},
		components: {
			day: require('./day.vue').default
		}
	}
</script>
