<style scoped lang="sass">
	.btn-td
		padding-left: 0
		width: 50px

	td 
		vertical-align: middle
</style>

<template>
	<tbody>
		<tr v-if="timers.length == 0">
			<td class="btn-td"> 
				<button @click="startTimer(type)" class="btn btn-icon"> 
					<i class="fas fa-stopwatch"></i> 
				</button> </td>
			<td> Nieuwe {{ typeName(this.type) }} timer </td>
			<td></td>
		</tr>

		<tr v-else v-for="(timer, key) in timers">
			<td class="btn-td"> 
				<button @click="stopTimer(timer)" class="btn btn-icon"> 
					<i class="fas fa-stop"></i> 
				</button> </td>
			<td> 
				<span v-if="!timer.editDesc">
					{{ timerText(timer) }} <br>
					<span v-if="timer.client_id"> {{ findName(clients, timer.client_id) }} - </span> {{ timer.description }} 
				</span>

				<input v-if="timer.editDesc"
					   v-model="timers[key].description" 
					   placeholder="Omschrijving timer"
					   @blur="saveDesc(key)"
					   @keyup.enter="saveDesc(key)"
					   class="form-control"
					   type="text">

				<v-select v-if="timer.editDesc"
						  v-model="timers[key].client_id"
					      :clearable="false"
					      :options="clients"
					      :reduce="name => name.id"
					      label="name"
					      placeholder="Selecteer een klant">
				</v-select>						   				
			</td>
			<td>
				<button v-if="!timer.editDesc" @click="editDesc(key)" class="btn-table"> 
					<i class="fas fa-pencil-alt"></i> 
				</button>

				<button v-else @click="saveDesc(key)" class="btn-table">
					<i class="fas fa-check"></i>
				</button>				
			</td>
		</tr>			
	</tbody>
</template>

<script>
	import vSelect from "vue-select";

	export default {
		props: ['data', 'type', 'user_id'],	
		components: {
			'v-select': vSelect
		},
		mounted() {
			this.load(this.type);
			this.loadData()
		},
		data() {
			return {
				timers: [],
				clients: [],
			}
		},
		methods: {		
			load(type) {
				axios.get('/timers', {params: {type: type}}).then(response => {
					this.timers = response.data;

					this.setDiff();					
				});
			},		
			loadData() {
				axios.get('/getClients').then(response => {
					this.clients = response.data;
				});
			},
			setDiff() {
				if(this.timers.length > 0) {
					this.timers.map((e, key) => {
						this.timers[key].diff = this.timePassed(e);						
						window.setInterval(() => {
							this.timers[key].diff++
							this.$forceUpdate();
						}, 6000)
					});	
				}
			},	
			startTimer(type) {
				axios.post('/timers', {
					type: type,
					date: moment().format('YYYY-MM-DD'),
					time: moment().format('HH:mm'),
					user_id: this.user_id,
				}).then(response => {
					this.timers = response.data;
					this.setDiff();
					this.$forceUpdate();
				});
			},
			stopTimer(timer) {
				this.$emit('form', {
					timer: timer.id,
					startTime: timer.time,
					endTime: moment().format('HH:mm'),
					mw: timer.type == 1 ? true : false,
					break: timer.type == 2 ? true : false,
					description: timer.description,
					client_id: timer.client_id
				});

				this.$emit('close');
			},
			timePassed(timer) {
				let time = timer.time;
				let now = moment().format('HH:mm');
				let diff = this.timeToMin(now) - this.timeToMin(time);

				return diff;					
			},
			editDesc(key) {
				this.timers[key].editDesc = true;
				this.$forceUpdate();
			},
			saveDesc(key) {
				this.save('timers', this.timers[key]);
				this.timers[key].editDesc = false;
				this.$forceUpdate();
			},			
			typeKey() {
				if(parseInt(this.type) == 0) {
					return 'normal'
				} else if(parseInt(this.type) == 1) {
					return 'mw'
				} else {
					return 'break'
				}				
			},
			typeName() {
				if(this.type == 0) {
					return 'normale'
				} else if(this.type == 1) {
					return 'meerwerk'
				} else {
					return 'pauze'
				}
			},
			timerText(timer) {
				let text = 'gewerkt (normaal)';
				if(this.type == 1) {
					text = 'gewerkt (mw)';
				} else if(this.type == 2) {
					text = 'pauze'
				}

				return 'Gestart om ' + timer.time + ' - ' + this.formatHours(timer.diff) + ' uur ' + text;
			},
		}	
	}
</script>