<template>
	<modal @close="$emit('close')">
		<h2>Timers</h2>
		<h4>Tijd: {{ time }}</h4>
		<table class="table">
			<timer v-for="timer in [0,1,2]" 
				   @close="$emit('close')" 
				   @form="$emit('form', $event)" 
				   :user_id="user_id"
				   :type="timer"
				   :key="timer">	   	
			</timer>
		</table>
	</modal>
</template>

<script>
	export default {
		props: ['user_id'],
		components: {
			timer: require('./timer.vue').default
		},
		mounted() {
			this.updateTime();
		},
		data() {
			return {
				time: moment().format('HH:mm'),
			}
		},
		methods: {
			updateTime() {
				let min = this.timeToMin(this.time);

				window.setInterval(() => {
					min++;
					this.time = this.formatHours(min);
				}, 60000)
			},
		}
	}
</script>