<template>
	<modal @close="$emit('close')">
		<h2 v-if="!fields.id">Klant toevoegen</h2>
        <h2 v-else>Klant bewerken</h2>

		<form-item label="Naam" class="margin-top">
			<input v-model="fields.name" type="text" class="form-control">
		</form-item>

		<form-item label="Adres">
			<input v-model="fields.address" type="text" class="form-control">
		</form-item>

		<form-item label="Postcode">
			<input v-model="fields.postal_code" type="text" class="form-control">
		</form-item>

		<form-item label="Plaats">
			<input v-model="fields.town" type="text" class="form-control">
		</form-item>

		<form-item label="Telefoonnummer">
			<input v-model="fields.phone_number" type="text" class="form-control">
		</form-item>

		<button @click="save('clients', fields)"
				class="btn-primary btn-block margin-top"
				:disabled="!validated()">
			Opslaan
		</button>
	</modal>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			let data = JSON.stringify(this.data);
			this.fields = JSON.parse(data);
		},
		data() {
			return {
				fields: {}
			}
		},
		methods: {
			validated() {
				let output = true;

				if(!this.fields.name) {
					output = false;
				}

				return output;
			}
		}
	}
</script>
