<template>
    <div>
        <h1 class="mb-2">Klanten</h1>

        <div class="row mb-2">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Zoeken..." v-model="searchInput">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <h2>Actieve klanten</h2>

                <list @form="form = {}" @edit="form = $event"
                      @delete="confirmDelete = $event" :clients="clientsActive"/>
            </div>
        </div>

        <div class="row mb-3" v-if="clientsInactive.length > 0">
            <div class="col-md-12">
                <h2>Inactieve klanten</h2>

                <list @form="form = {}" @edit="form = $event"
                      @delete="confirmDelete = $event" :clients="clientsInactive"/>
            </div>
        </div>

        <confirm v-if="confirmDelete"
                 @close="confirmDelete = null"
                 @confirm="destroy('clients', confirmDelete.id)">
            <h3>Klant {{ confirmDelete.name }} verwijderen?</h3>
        </confirm>

        <client-form v-if="form"
                     :data="form"
                     @saved="handleSaved($event)"
                     @error="handleError($event)"
                     @close="form = null">
        </client-form>
    </div>
</template>

<script>
import {searchMixin} from "../../mixins/searchMixin";

export default {
    mixins: [searchMixin],

    mounted() {
        this.loadData();
    },

    data() {
        return {
            form: null,
            clients: [],
            confirmDelete: null,
            view: null,
            searchInput: null,
        }
    },

    methods: {
        handleSaved(data) {
            this.form = false;
            this.$emit('message', data);
            this.loadData();
        },

        loadData() {
            axios.get('/getClients').then(response => { this.clients = response.data })
        },
    },

    computed: {
        clientsFiltered() {
            if (this.clients.length > 0) {
                return this.search(this.clients, this.searchInput, ['name']);
            }
        },

        clientsActive() {
            return _.filter(this.clientsFiltered, {status: 1});
        },

        clientsInactive() {
            return _.filter(this.clientsFiltered, {status: 0});
        }
    },

    components: {
        clientForm: require('./form.vue').default,
        list: require('./list.vue').default,
    }
}
</script>
