<template>
    <table class="table">
        <thead>
            <tr>
                <th class="table-icon-cell">
                    <button @click="$emit('form')" class="btn btn-icon"> <i class="fas fa-plus"></i> </button>
                </th>
                <th>Naam</th>
                <th class="hide-on-mobile">Adres</th>
                <th class="hide-on-mobile">Postcode + plaats</th>
                <th>Telefoon</th>
                <th class="table-icon-cell"></th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="client in clients">
                <td>
                    <button @click="$emit('edit', client)" class="btn-table">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>
                <td>
                    <a :href="'/clients/'+client.id" class="link">{{ client.name }}</a>
                </td>
                <td class="hide-on-mobile">{{ client.address }}</td>
                <td class="hide-on-mobile">{{ client.postal_code }} {{ client.town }}</td>
                <td>{{ client.phone_number }}</td>
                <td>
                    <button @click="$emit('delete', client)" class="btn-table">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            clients: {
                required: true,
                type: Array,
            }
        }
	}
</script>
