<template>
	<div>
		<h3>Notities</h3>
		<table class="table">
			<thead>
				<th class="table-icon-cell"> <button @click="form = {client_id: client_id}" class="btn btn-icon"> 
					<i class="fas fa-plus"></i> 
				</button> </th>
				<th> Datum </th>
				<th> Tijd </th>
				<th> Notitie </th>
				<th></th>
			</thead>
			<tbody>
				<tr v-for="note in notes">
					<td>
						<button @click="form = {note: note.note, id: note.id}" class="btn-table"> 
							<i class="fas fa-pencil-alt"></i> 
						</button>
					</td>
					<td> {{ getDate(note.created_at) }} </td>
					<td> {{ getTime(note.created_at) }} </td>
					<td> {{ note.note }} </td>
					<td>
						<button @click="confirmDelete = note.id" class="btn-table">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<notes-form v-if="form" 
					:data="form"
					@close="form = null"
					@saved="handleSaved($event)">			
		</notes-form>

		<modal @close="confirmDelete = null" v-if="confirmDelete">
			<h3>Notitie verwijderen?</h3>
			<div class="self-clear">
				<div class="pull-right">
					<button @click="confirmDelete = null" class="btn-primary"> Nee </button>
					<button @click="destroy('/notes', confirmDelete)" class="btn-primary"> Ja </button>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	export default {
		props: ['client_id'],
		mounted() {	
			this.loadData();
		},
		data() {
			return {
				notes: [],
				form: null,
				confirmDelete: null,
			}
		},
		methods: {
			loadData() {
				axios.get('/notes').then(response => {
					this.notes = response.data;
				});				
			},
			handleSaved(event) {
				this.$emit('message', event); 
				this.form = null;
				this.loadData();
			},
			getDate(created_at) {
				return this.reverseDate(created_at.split(' ')[0]);
			},
			getTime(created_at) {
				let time = created_at.split(' ')[1].split(':');
				time.pop();
				return time.join(':');
			}
		},
		components: {
			notesForm: require('./notes-form.vue').default
		}
	}
</script>