<template>
	<modal @close="$emit('close')">
		<h3 v-if="fields.id">Notitie bewerken</h3>
		<h3 v-else>Notitie maken</h3>
		
		<form-item label="Notitie">
			<textarea v-model="fields.note" id="Notitie" cols="30" rows="2" class="form-control"></textarea>
		</form-item>	

		<button @click="save('/notes', fields)" class="btn-primary btn-block margin-top">
			Opslaan
		</button>		
	</modal>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			if(this.data) {
				this.fields = this.data;
			}
		},
		data() {
			return {
				fields: {}
			}
		}
	}
</script>