<style lang="sass" scoped>
	tr, thead
		td, th
			padding: 3px

		&:hover
			cursor: pointer
			background: #f5e0df !important

		&.selected
			background: #f2d7d5
</style>

<template>
	<div>
		<h3>Rapporten</h3>

		<div class="row">
			<div class="col-md-6 mb-2">
				<form-item label="Bestandsnaam">
					<input id="Bestandsnaam"
						   type="text"
						   class="form-control"
						   v-model="fileName">
				</form-item>
			</div>
			<div class="col-md-6 mb-2 align-bottom">
				<button @click="hoursModal = true" class="btn btn-primary">Uren kiezen</button>
			</div>
		</div>

		<button v-if="hours.length > 0"
				class="btn btn-primary"
				@click="openPDF">
			Open rapport
		</button>

		<button v-if="hours.length > 0"
				class="btn btn-primary"
				@click="downloadPDF">
			Download rapport
		</button>

		<modal v-if="hoursModal" @close="hoursModal = false">
			<h3>Uren kiezen</h3>
			<table class="table">
				<thead @click="checkAll(selectAll, false)">
                    <tr>
                        <th class='column-icon'>
                            <input @change="checkAll(selectAll, true)"
                                   v-model="selectAll"
                                   type="checkbox">
                        </th>
                        <th>Datum</th>
                        <th>Omschrijving</th>
                        <th/>
                    </tr>
				</thead>

				<tbody class="select-hours">
					<tr :class="{'selected': !selectedHours.includes(hour.id)}"
						v-for="hour in hours">
						<td @click="checkHour(hour)">
							<input :value="hour.id"
								   v-model="selectedHours"
								   type="checkbox">
						</td>

						<td @click="checkHour(hour)"> {{ displayDate(hour.date) }} </td>

						<td @click="checkHour(hour)" class="text-muted">
							<i>{{ hour.description || 'Geen omschrijving ingevuld' }}</i>
						</td>

                        <td>
                            <button class="btn-table" @click="$emit('edit-hours', hour)">
                                <i class="fas fa-pencil-alt"/>
                            </button>
                        </td>
					</tr>
				</tbody>
			</table>
		</modal>
	</div>
</template>

<script>
	import pdfMake from "pdfmake/build/pdfmake";
	import pdfFonts from "pdfmake/build/vfs_fonts";
	import {pdfMixin} from '../../mixins/pdfMixin';

	export default {
		mixins: [pdfMixin],

		props: ['client'],

		mounted() {
			this.loadData();

			// load fonts
			if (pdfMake.vfs === undefined) {
				pdfMake.vfs = pdfFonts.pdfMake.vfs;
			}
		},

		data() {
			return {
				hours: [],
				selectedHours: [],
				selectAll: true,
				content: [],
				docDefinition: this.defaultDocDefinition(),
				fileName: 'rapportage',
				hoursModal: false,
			}
		},

		methods: {
			openPDF() {
				this.orderHours(this.reportHours);
				pdfMake.createPdf(this.docDefinition).open();
			},

			downloadPDF()
			{
				this.orderHours(this.reportHours);
				pdfMake.createPdf(this.docDefinition).download(this.fileName);
			},

			loadData() {
				axios.get('/getHours', {
					params: {client_id: this.client.id}
				}).then(response => {
					this.hours = response.data;
					this.selectedHours = _.map(this.hours, 'id');
				});
			},

			orderHours(hours) {
				this.docDefinition = this.defaultDocDefinition();

				hours.map(hour => {
					const userName = hour.user?.name?.split(' ')?.[0];

					let row = {
						columns: [
                            this.column(userName, 70, 'columns'),
							this.column(hour.date, 80, 'columns'),
                            this.column(this.displayHours(hour), 50, 'columns'),
							this.column(hour.description || 'Geen omschrijving', '*', 'descriptions')
						]
					}

					this.docDefinition.content.push(row);
				});
			},

			checkHour(hour) {
				if(this.selectedHours.includes(hour.id)) {
					_.remove(this.selectedHours, (el) => {
						return el == hour.id;
					});
					this.$forceUpdate();
				} else {
					this.selectedHours.push(hour.id);
				}
			},

			checkAll(selectAll, event) {
				if(!event) {
					this.selectAll = !this.selectAll;
					selectAll = !selectAll;
				}

				this.selectedHours = selectAll ? _.map(this.hours, 'id') : [];
				this.$forceUpdate();
			},
		},

		computed: {
			reportHours() {
				return _.filter(this.hours, hour => {
					return this.selectedHours.includes(hour.id);
				});
			}
		},

        components: {
            hourForm: require('../hours/form').default,
        }
	}
</script>
