<template>
	<div>
		<h3>Voorkeuren</h3>
		<form-checkbox label="Actief">
			<input id="Actief" type="checkbox" v-model="status">
		</form-checkbox>
	</div>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			let data = JSON.stringify(this.data);
			this.client = JSON.parse(data);
			this.status = this.client.status;
		},
		data() {
			return {
				client: {},
				status: null			
			}
		},
		watch: {
			status(val) {
				this.client.status = val;
				this.save('/clients', this.client);
			}
		}
	}
</script>