<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="pull-left">
					<h2> <a href="/clients" class="link">Klanten</a>/{{ client.name }} </h2>
				</div>

				<div class="pull-right">
				<!-- 	<button @click="$emit('close')" class="btn btn-icon">
						<i class="fas fa-arrow-left"></i>
					</button>
					<button class="btn btn-icon"> <i class="fas fa-pencil-alt"></i> </button>
					<button class="btn btn-icon"> <i class="fas fa-trash"></i> </button> -->
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="tabs">
					<button @click="page = 'overview'" class="btn-tab" :class="{'btn-tab-selected': page == 'overview'}">
						Overzicht
					</button>
					<button @click="page = 'notes'" class="btn-tab" :class="{'btn-tab-selected': page == 'notes'}">
						Notities
					</button>
					<button @click="page = 'pdf'" class="btn-tab" :class="{'btn-tab-selected': page == 'pdf'}">
						Rapporten
					</button>
					<button @click="page = 'settings'" class="btn-tab" :class="{'btn-tab-selected': page == 'settings'}">
						Voorkeuren
					</button>
				</div>
			</div>
		</div>

		<div v-if="page == 'overview'" class="row">
			<div class="col-md-12">
				<h3>Gegevens</h3>
				<table class="table">
					<tr v-if="client.address">
						<th> Adres </th>
						<td> {{ client.address }} </td>
					</tr>
					<tr v-if="client.postal_code">
						<th> Postcode </th>
						<td> {{ client.postal_code }} </td>
					</tr>
					<tr v-if="client.town">
						<th> Plaats </th>
						<td> {{ client.town }} </td>
					</tr>
					<tr v-if="client.phone_number">
						<th> Telefoon </th>
						<td> {{ client.phone_number }} </td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row" v-if="page == 'overview'">
			<div class="col-md-12">
				<h3>Uren</h3>
				<hours :options="{ client_id: client_id }"
					   @message="$emit('message', $event)"
					   @form="$emit('form', $event)"
					   ref="hours">
				</hours>
			</div>
		</div>

		<div v-if="page === 'notes'" class="row">
			<div class="col-md-12">
				<notes @message="$emit('message', $event)" :client_id="client.id"/>
			</div>
		</div>

		<div v-if="page === 'pdf'" class="row">
			<div class="col-md-12">
				<reports @edit-hours="$emit('form', $event)" :client="client"/>
			</div>
		</div>

		<div v-if="page === 'settings'" class="row">
			<div class="col-md-12">
				<settings @saved="loadData()" :data="client"/>
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		props: ['client_id'],
		mounted() {
			this.loadData();
		},
		data() {
			return {
				client: {},
				page: 'overview'
			}
		},
		methods: {
			loadData() {
				axios.get('/getClient/'+this.client_id).then(response => {
					this.client = response.data;
				});
			},
			handleSaved() {
				this.$refs['hours'].handleSaved();
			}
		},
		components: {
			notes: require('./notes.vue').default,
			hours: require('../hours/list.vue').default,
			reports: require('./reports.vue').default,
			settings: require('./settings.vue').default
		}
	}
</script>
